@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cyan-overlay: hsla(178, 100%, 50%, 50%);
    /* Neutral */
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    /* Typography */
    --fontSize: 18px ;
}

* {
    margin: 0;
    padding :0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-bg-color);
}

p {
    font-size: var(--fontSize);
    color: var(--soft-blue);
    font-weight: 300;
}

h1 {
    color: var(--white);
    font-size: 24px;
}

.card-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    width: 375px;
    padding:26px;
    border-radius: 12px;
}

.hero-img {
    border-radius: 12px;
    width: 100%;
    background-image: url(./images/image-equilibrium.jpg);
    aspect-ratio: 1;
    background-size: contain;
}

.overlay {
    background-color: var(--cyan-overlay);
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
  }

.row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

.row-left {
    display: flex;
    flex-direction: row;
}

.row-right {
    display: flex;
    flex-direction: row;
    white-space:nowrap;
}

.heading {
    margin-top: 1rem;
    cursor: pointer;
}

.heading:hover {
    color: var(--cyan);

}

.description {
    margin-top: 1rem;
}

.price {
    color: var(--cyan);
    font-size: var(--fontSize);
    margin-left: 5px;
}

.timestamp {
    color: var(--soft-blue);
    margin-left: 5px;
}

.author-section {
    padding-top: 1rem;
    border-top: 1px solid var(--line-color);
    display: flex;
    flex-direction:row;
    align-items: center;
}

.author {
    color: var(--soft-blue);
    margin-left: 10px;
    cursor: pointer;
}

.author span {
    color: var(--white)
}

.author span:hover {
    color: var(--cyan);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #fff;
}